body {
    margin: 16px;
}

.table {
    margin-top: 30px;
    padding: 3px;
    border-collapse: collapse;
    border: solid medium black;
    border-bottom: solid medium black;
}

    .table th {
        border: solid medium black;
        padding: 5px;
        background-color: lightblue;
        border-spacing: 10px;
    }

    .table td {
        border: solid thin black;
        border-right: solid medium black;
        padding: 5px;
    }

    .table tr#bottom {
        border-bottom: solid medium black;
    }

.errorLabel {
    color : red;
}

.auto-style1 {
    width: 100%;
}

    .auto-style1 td {
        vertical-align: top;
    }
