@using task.app.Services
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">task.app</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="appointment">
                <span class="oi oi-plus" aria-hidden="true"></span> Appointment
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="check">
                <span class="oi oi-plus" aria-hidden="true"></span> Check Appointment
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="cancel">
                <span class="oi oi-plus" aria-hidden="true"></span> Cancel Appointment
            </NavLink>
        </li>
        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-1">
                    <NavLink class="nav-link" href="displayboard">
                        <span class="oi oi-plus" aria-hidden="true"></span> Display Board
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="logout">
                        <span class="oi oi-plus" aria-hidden="true"></span> Logout
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <span class="oi oi-plus" aria-hidden="true"></span> Login
                    </NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private bool _isAuthenticated;

    [Inject]
    public IDataService DataService { get; set; }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        _isAuthenticated = await DataService.IsAuthenticated();
        Console.WriteLine($"Is authenticated: {_isAuthenticated}");
    }
}
